.dashboardinfo_section {
  margin-top: 2rem;
  .dashboardinfo_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .dashboardtotalinfo {
      display: flex;
      gap: 2rem;
    }
    .dashboardinfo_singleContainer {
      width: 20rem;
      height: 10rem;
      padding: 1rem;
      border: 3px solid #f1f1f1;
      border-radius: 0.5rem;
      //   overflow-y: scroll;
      h2 {
        font-size: 4rem;
        color: rgb(87, 87, 87);
      }
    }
  }
}
