.Accout_page {
  width: 85%;
  margin: auto;
  .account_section {
    margin-top: 3rem;
    display: flex;
    .profile_card {
      width: 100%;
      border: 3px solid #f5f5f5;
      border-radius: 0.5rem;
      padding: 0.5rem;
      .account_info {
        background-image: url("https://img.freepik.com/free-vector/black-background-with-wavy-lines_52683-76524.jpg?w=1060&t=st=1686752997~exp=1686753597~hmac=8b5e1619251d18e24423f67f2c1c98354ab8bef49084a346869803cdcddf2b98");

        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 100%;
        height: 11rem;
        border-radius: 0.5rem;
        position: relative;
        img {
          position: absolute;
          width: 9rem;
          height: 9rem;
          top: 4rem;
          left: 5rem;
          border-radius: 0.5rem;
          object-fit: cover;
          object-position: center top; /* Move the image to the center vertically and aligned to the top */
        }
        b {
          font-size: 1.2rem;
          font-weight: 600;
          color: rgb(64, 62, 71);
          text-transform: capitalize;
        }
      }
      .accout_details {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 3rem 0rem 1rem 5rem;
        button {
          margin-right: 1rem;
          background-color: #040421;
          color: white;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
}
